@charset "UTF-8";

*{
	padding: 0;
	margin: 0;
}

html{
	height: 100%;
}

body{
	height: 100%;
	background-color: dodgerblue;
}

#wrapper{
	width: 780px;
	border: 1px solid black;
	margin: 30px auto;
	padding: 30px;
	background-color: white;
	box-shadow: 0 0 20px 7px black;
	text-align: left;
}

input, select, textarea{
	min-height: 20px;
	min-width: 100px;
	margin: 10px auto;
}

input{
	border: none;
	border-bottom: 1px solid darkgrey;
}

.buttons > input{
	margin-top: 30px;
	box-sizing: content-box;
	font-size: larger;
	border: 2px solid lightgrey;
}

.red-borderBottom{
	border-bottom: 1px solid red;
}

.red-border{
	border: 1px solid red;
}